html {
  height: 100%;
}
h1 {
  padding: 10px 10px 0px 10px;
}

hr {
  height: 1px;
  color: #333;
  background-color: #333;
  margin: 20px 10px 10px 20px;
}
body {
  background-color: rgb(231, 230, 229);
}

.row > * {
  padding: 10px;
}
.menu {
  width: 60%;
}

.menu-form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
