/* .navbar * {
  color: rgb(218, 218, 218) !important;
} */
.card {
  max-width: 100%;
}

.dropdown-text * {
  color: black !important;
}
.card-text {
  word-wrap: break-word;
  font: 200px;
}

/* .notif {
  max-width: 400px;
} */
