.res_logo{
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#res_card > a:link, #res_card > a:hover, #res_card > a:active, #res_card > a:focus, #res_card > a:visited{
    color: black !important;
}

.res_title{
    min-width: 8rem;
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body{
    padding: 0;
}