.dropdown_title{
    max-width: 11rem;
    text-align: start;
}

.form_border{
    border-radius: 0;
}

.form_width{
    width: 20rem;
}

.dropdown-menu{
    margin-left:2rem;
}

.bg_color{
    background-image: linear-gradient(rgb(170, 167, 167), rgb(152, 226, 220));
    min-height: 100vh !important;
    height: 100% !important;
}